body {
    color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.header-proper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 24px;
    color: #F9FAF8
}

.header-lower {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px 0;
}

.header-lower-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.header-proper .links, .header-lower .header-lower-left {
    font-size: 18px;
}

.header .header-lower .header-lower-left .title {
    font-size: 48px;
    font-weight: bolder;
}

.header button {
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    padding: 5px 1px;
    max-width: 100px;
    color: white;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.content .cards .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    padding: 8px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    max-width: 150px;
}

.content .random-information {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 32px 100px 96px 100px;
}

.content .random-information .cards {
    font-size: 18px;
    font-weight: normal;
    color: #1F2937;
}

.content .inspirational-quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    padding: 100px 250px;
}

.content .inspirational-quote .author {
    font-weight: bolder;
    color: #1F2937;
    font-size: 18px;
    text-align: right;
}

.card img {
    object-fit: contain;
    max-height: 120px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

img {
    width: 300px;
    min-width: 300px;
    align-self: center;
}